<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>prices</name>
	<displayName><![CDATA[prices]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[asdasdasdasdasdasdas]]></description>
	<author><![CDATA[andrele82]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
